p {
color:red;
}

body {
background-image: url("https://i.etsystatic.com/11005779/r/il/7d7b76/3691831601/il_680x540.3691831601_nfqz.jpg");
}

h1 {
font-size: 12px;
color: green;
text-align: center;
}

h2 {
font-size: 24px;
color: red;
text-align: center;
}

img {
width: auto;
height: 20%;
img-align:center;
}

.white-box {
background-color: white;
color: black;
}
